<%
let dailyTopics = [
    'What technology do you think would change the world for the better or worse?',
    'Where would you travel if you could go anywhere right now?',
    'Do you have any pets or do you wish you had one?',
    'What is your biggest pet peve?',
    'Potatoes?',
    'Pirates or Ninjas?',
    'If animals could talk, which would be the rudest?',
    'Is cereal soup?',
    'How many chickens would it take to kill an elephant?',
    'If you were an artist, what would your first painting be of?',
    'If you could be a fly on the wall, who would you listen in on?',
    'What do you aspire to be?',
    'What is your favorite internal organ?',
    'What is the most useless invention of all time?',
    'How now brown cow?',
    'Would you trade intelligence for looks?',
    'What were you like in High School?',
    'What is the best cheesy love song ever written?',
    'Ghosts?',
    'What is something you have never been able to do well?',
    'Favorite TV show?',
    'What happened on your worst date ever?',
    'What will people say at your funeral?',
    'If you could steal any one thing, what would it be?',
    'Favorite time of day?',
    'What is something everyone should try at least once?',
    'What is the best weird food pairing?',
    'What is love?',
    'Batman?',
    'Why do you not care that Jimmy popped your corn?',
    'Why is Lord of the RIgns the best book ever written?'
];

let date = new Date();
todaysTopic = dailyTopics[date.getDate() - 1];
%>

<div class="dailyTopicDiv">

    <h2>Daily Topic</h2>
    <p class="dailyTopic"><%= todaysTopic %></p>

</div>