<nav class="navLinks">
    <ul>
        <li><a href="home">Home</a></li>
        <li><a href="profile">Profile</a></li>
        <li><a href="settings">Settings</a></li>
        <li><a href="authenticateLogout"><%= text || "Login/Out" %></a></li>
        <li><textarea id="search" name="search" placeholder="Search"></textarea></li>
    </ul>
</nav>

