body {
    margin: 0 auto;
    text-align: center;
    max-height: 1920px;
}

/*
    Reminder to self: remove outter div borders
*/
.wrapper {
    margin: 0 auto;
    text-align: center;
    width: 1080px;
    border: 1px solid black;
    background-color: blanchedalmond;
}

#search {
    width: 150px;
    height: 1.5rem;
    resize: none;
    margin-bottom: -10px;
}

.navLinks {
    list-style: none;
    width: 720px;
    margin: 2rem auto;
    background-color: green;
    border: 1px solid black;
    padding: .5rem;
}

.navLinks ul {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border: 1px solid black;
    width: 660px;
    margin: 0 auto;
    background-color: slategray;
}

.navLinks li {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    display: inline;
    text-align: center;
    border-right: 1px solid black;
    border-bottom: 1px solid black;

    margin: -2px;
}

.navLinks a {
    text-decoration: none;
    color:black;
}

.navLinks li:last-child {
    border-right: none;
    background-color: none;
}

.navLinks ul > li:hover {
    background-color: lightgrey;
}

.navLinks ul > li:hover:last-child {
    background-color: transparent;
}

.searchContainer {
    margin: 0.25rem;
}

.searchContainer button {
    cursor: pointer;
}

.h1 {
    text-align: left;
    margin-left: 36px;
}

.outerRecentPosts {
    width: 920px;
    text-align: center;
    margin: 2rem auto;
    border: 1px solid black;
    background-color: rgb(168, 137, 137);
}

.outerOldPosts {
    width: 920px;
    text-align: center;
    margin: 2rem auto;
    border: 1px solid black;
    background-color: rgb(154, 168, 137);
}

.innerRecentPosts {
    border: 1px solid black;
    width: 820px;
    margin: 2rem auto;
    padding: .8rem;
}

.postsForm {
    background-color: azure;
    width: 720px;
    height: 380px;
    margin: 0 auto;
    padding: 1px;
}

.title {
    resize: none;
    width: 660px;
    height: 24px;
    font-size: 20px;
    
}

.body {
    resize: none;
    width: 660px;
    height: 240px;
    font-size: 18px;
}

.submitPost {
    position: absolute;
    top: 612px;
    right: 224px;
}

.errMsg {
    position: absolute;
    top: 600px;
    left: 224px;
    color: red;
}

.postWrapper {
    border: 1px solid black;
    background-color: rgb(158, 117, 117);
    margin-bottom: 1rem;
}

.postTitle {
    font-weight: bold;
}

.innerOldPosts {
    border: 1px solid black;
    width: 820px;
    margin: 2rem auto;
    padding: .8rem;

}
.enterTextDiv {
    border: 1px solid black;
    margin: 2rem auto;
    padding: 20;
    width: 80%;
    height: 150px;
    background-color: coral;

}
.blogText {
    border: 1px solid black;
    margin: 2rem auto;
    padding: 20;
    width: 80%;
    height: 100px;

}
.textForm {
    border: 1px solid black;
    margin: 2rem auto;
    padding: 20;
    width: 80%;
    height: 100px;

}
.footerNav {
    float: left;
}

.footerNav a {
    text-decoration: none;
    color: black;
}

.footerNav a:hover {
    text-decoration: underline;
    font-weight: bold;
    color: blue;
}