<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>

	<div class="wrapper">
    <div class="container">
        <p id="score">High Score: </p>

        <h1>Trials of Grumb</h1>

        <div class="infoContainer">
            <div class="charInfo">
                <h4>Character Info</h4>
                <p>Name: <span class="charInfoName"></span></p>
                <p>Class: <span class="charInfoClass"></span></p>
                <p>Strength: <span class="stats"></span></p>
                <p>Dexterity: <span class="stats"></span></p>
                <p>Constitution: <span class="stats"></span></p>
                <p>Health: <span class="charInfoHealth"></span></p>
            </div>

            <div class="inventory">
                <h4>Inventory</h4>
                <table id="inventoryTable">
                </table>
            </div>
        </div>

        <div class="displayBox">
            <div class="displayTxt"><p></p></div> 
        </div>

        <form autocomplete="off" id="commandForm">
            <input type="text" id="usrInput"/>
            <p>Type "help" for list of commands</p>
        </form>
        
    </div> 
						
		</form>
	
	</div>
	
</body>
</html>


