<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>capstone_Bloggy</title>
</head>
<body>
	<h1>Home Page - Bloggy</h1>
	<% posts.forEach(function(r) {%>
		<button id='<%= r.postsID %>'
			onClick = 'javascript:logTask(<%= r.postsID %>);'><%= r.title %>
		</button>
	<% }); %>
	<script>
let currentPostId = null;

const logTask = async function(id) {
	const response = await fetch('/log', {
		method: 'POST',
		headers: {
			'Accept': 'application/json',
			'Content-Type': 'application/json'
		},
		body: JSON.stringify({
			postsID: -1,
			userID: -1,
			title: "'This is a title'",
			body: "'blah blah blah'"
		})
	});
	const result = await response.json();
	console.log(result);
	currentPostId = id;
};
	</script>
</body>
</html>