<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Bloggy</title>
	<link rel="stylesheet" type="text/css" href="/css/stylesheet.css">
</head>
<body>
	<h1>Bloggy</h1>

	<div class="wrapper">

		<nav class="navLinks">
			<ul>
				<li><a href="http://localhost:5000/home">Home</a></li>
				<li><a href="">Profile</a></li>
				<li><a href="">Settings</a></li>
				<li><a href="">Login</a></li>
				<li><textarea id="search" name="search" placeholder="Search"></textarea></li>
			</ul>
		</nav>

		<span class="goUpBtn"></span>

		<h3>Enter new Blog</h3>
		<div class="enterTextDiv" id="blogText">
		
			<form class="blogText", placeholder="What's on your mind?", action="profile" method="POST">
				<input type="text", placeholder="Whats is your Id">
				<input type="text", placeholder="Title of Blog">
				<input type="text", placeholder="What's on your mind?", id="textForm">
				<input type="submit">
			</form>
		</div>


	<script src="/js/logTask.js"></script>

</body>
</html>