<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs'); %>
<body>
    <h1>Bloggy</h1>

	<div class="wrapper">

        <%- include('../partials/testAuth.ejs'); %>

		<%- include('../partials/nav.ejs'); %>

		<span class="goUpBtn"></span>

		<h1>Settings</h1>
		<h3>Under construction...</h3>

        <div class="footer">
			<%- include('../partials/footerNav.ejs'); %>
		</div>
	</div>

</body>
</html>