<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs'); %>
<body>
    <h1>Bloggy</h1>

	<div class="wrapper">

        <%- include('../partials/testAuth.ejs'); %>

		<%- include('../partials/nav.ejs'); %>

		<span class="goUpBtn"></span>

		<h1>Update Account</h1> 
		<form action="/settings/updateUser">
			<label for="fName">First name:</label>
			<br>
			<input type="text" id="fName" name="fName">
			<br>
			<label for="lName">Last name:</label>
			<br>
			<input type="text" id="lName" name="lName">
			<br>
			<label for="uName">Username:</label>
			<br>
			<input type="text" id="uName" name="uName">
			<br>
			<input type="submit" value="Update">
		</form>
        <div class="footer">
			<%- include('../partials/footerNav.ejs'); %>
		</div>
	</div>

</body>
</html>